In [1]:
#import libraries
from selenium.webdriver.common.by import By
from selenium import webdriver
import pandas as pd

In [2]:
#website url to be scraped
#used search keyword "toyota vios"
url = "https://www.carousell.ph/categories/vehicles-32/used-cars-for-sale-2151/?addRecent=true&canChangeKeyword=true&includeSuggestions=true&search=toyota%20vios&searchId=McP-Z2"

In [3]:
#initialize Chromedriver
driver = webdriver.Chrome("C:/Users/gj_qu/chromedriver_win32/chromedriver.exe")
#open website
driver.get(url)
#maximize window
driver.maximize_window

C:\Users\gj_qu\AppData\Local\Temp\ipykernel_10696\3958774279.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("C:/Users/gj_qu/chromedriver_win32/chromedriver.exe")

In [4]:
#get elements using xpath and saved to variables
year = driver.find_elements(By.XPATH,'//*[@id="main"]/div/div/div/main/div/div/div/div/div/div/a/div[4]/div[1]/span')
transmission = driver.find_elements(By.XPATH,'//*[@id="main"]/div/div/div/main/div/div/div/div/div/div/a/div[4]/div[2]/span')
price = driver.find_elements(By.XPATH,'//*[@id="main"]/div/div/div/main/div/div/div/div/div/div/a/div[2]/div[1]/span')
mileage = driver.find_elements(By.XPATH,'//*[@id="main"]/div/div/div/main/div/div/div/div/div/div/a/div[4]/div[3]/span')
desc = driver.find_elements(By.XPATH,'//*[@id="main"]/div/div/div/main/div/div/div/div/div/div/a/div[3]/p')

In [5]:
#create dataframe
column_name = ["year", "transmission", "price", "mileage", "desc"]
df = pd.DataFrame(columns = column_name)
#populate dataframe with text from elements gathered
df["year"] = [x.text for x in year]
df["transmission"] = [x.text for x in transmission]
df["price"] = [x.text for x in price]
df["mileage"] = [x.text for x in mileage]
df["desc"] = [x.text for x in desc]
df.head()

,year,transmission,price,mileage,desc
0,2021,Automatic,"PHP 568,000","0-10,000 km",2021 Toyota Vios 1.3 XE CVT Automatic Alumina ...
1,2021,Automatic,"PHP 598,000","0-10,000 km",2021 Toyota Vios 1.3xle very fresh must see Auto
2,2021,Automatic,"PHP 579,000","10,001-20,000 km",2021 Toyota Vios 1.3 XLE AT Automatic Gas Auto
3,2021,Automatic,"PHP 680,000","10,001-20,000 km",Toyota Vios 1.3 XLE Auto
4,2021,Automatic,"PHP 628,000","0-10,000 km",2021 Toyota Vios 1.3 XLE CVT Automatic Blackis...

In [6]:
#export to csv
# df.to_csv("toyota vios market data.csv")